<div class="personal-content">
		<div class="personal-head">
			<div class="personal-head-left">
			<img src="/assets/user/user_default_icon.png" />
			<span><%=current_user.username%></span>
			<p><%=current_user.email%></p>
			</div>
			<div class="personal-head-right">
			<table style="width:100%;text-align:center;">
			<tr>
				<td colspan="5">手续费率0.3%</td>
			</tr>
			<tr>
				<td>VIP1</td>
				<td colspan="3">
					<div class="progress progress-success margin-top-short" style="width:350px;">
						<div class="bar" style="width: <%=243*100/500%>%;"></div>
					</div>
				</td>
				<td>VIP2</td>
			</tr>
			<tr>
				<td class="text-right">0</td>
				<td colspan="3" class="text-left;"> <font style="margin-left: <%=243*350/500-8%>px;padding:0px;float:left;">243</font></td>
				<td class="text-left">500</td>
			</tr>
			</table>
			</div>
		</div>

		<div class="personal-line">
			<font class="personal-text">
			实名认证:
			</font>
			<input class="personal-input" id='realname_input' value="<%=current_user.real_name%>" />
			<button class="personal-button margin-left-10 realname_btn" <%='disabled=disabled' unless current_user.real_name.blank?%> >确定</button>
		</div>

		<div class="personal-warning">
		绑定实名后 人民币充值提现账户将只限您本人账户 此项绑定后不可修改
		</div>

		<div class="personal-table-base margin-top-middle">
			<table class="exchange-table personal-table">
				<tr>
					<th></th>
					<th>可用余额</th>
					<th>交易锁定</th>
					<th>贷款抵押</th>
					<th>押提现待处理</th>
					<th>总计</th>
					
				</tr>
				<tr>
					<th>BTC</th>
					<td class="personal-table-td-bottom"></td>
					<td class="personal-table-td-bottom"></td>
					<td class="personal-table-td-bottom"></td>
					<td class="personal-table-td-bottom"></td>
					<td class="personal-table-td-bottom"></td>
				</tr>
				<tr>
					<th>LTC</th>
					<td class="personal-table-td-bottom"></td>
					<td class="personal-table-td-bottom"></td>
					<td class="personal-table-td-bottom"></td>
					<td class="personal-table-td-bottom"></td>
					<td class="personal-table-td-bottom"></td>
				</tr>
				<tr>
					<th>CNY</th>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
<%=render :partial=>'users/info_form'%>