
<div class="personal-left" id='personal-center'>
	<div class="personal-nav">
	<ul class="personal-nav-ul" id="personal-nav">
		<li class="personal-nav-li" data-type='base_info'>
			<span>
				<img src="<%=image_url "user/personal-information.png"%>" />
			</span>
			<a>基本资料</a>
		</li>
		<li class="personal-nav-li" data-type='recharge' >
			<span>
				<img src="<%=image_url "user/despoit.png"%>" />
			</span>
			<a>账户充值</a>
		</li>
		<li class="personal-nav-li" data-type='withdraw'>
			<span>
				<img src="<%=image_url "user/withdrawal.png"%>" />
			</span>
			<a>账户提现</a>
		</li>
		<li class="personal-nav-li" data-type='password'>
			<span>
				<img src="<%=image_url "user/user-password.png"%>" />
			</span>
			<a>密码设置</a>
		</li>
		<li class="personal-nav-li" data-type='google'>
			<span>
				<img src="<%=image_url "user/iphone.png"%>" />
			</span>
			<a>Google验证</a>
		</li>
		<li class="personal-nav-li" data-type='sms'>
			<span>
				<img src="<%=image_url "user/sms.png"%>" />
			</span>
			<a>短信验证</a>
		</li>
		<li class="personal-nav-li" data-type='ips'>
			<span>
				<img src="<%=image_url "user/ip.png"%>" />
			</span>
			<a>IP记录</a>
		</li>
	</ul>
	</div>
</div>

<div class="personal-right" id="personal-right">
	<%= render 'users/basic_info' %>
	<%= render 'users/recharge' %>
	<%= render 'users/withdraw' %>
	<%= render 'users/password_security_settings' %>
	<%= render_cell :user, :ips, user: current_user %>
	<%= render_cell :user, :sms, user: current_user %>
	<%= render_cell :user, :google_auth, user: current_user %>
</div>