<div class="personal-content">
<div class="accordion" id="personal-center">
	
	<%= render  :partial=>'users/basic_info'%>
	<%= render  :partial=>'users/password_security_settings'%>
	<!-- google auth start-->
	<%= render_cell :user, :google_auth, user: current_user %>
	<!-- google auth end -->

	<!-- sms -->
	<%= render_cell :user, :sms, user: current_user %>
	<!-- sms end -->
	<!-- ips -->
	<%= render_cell :user, :ips, user: current_user %>
	<!-- ips -->
</div>
</div>



<div >
<div class="tabbable tabs-left" id="tabs-58623">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-940677" data-toggle="tab">第一部分</a>
					</li>
					<li>
						<a href="#panel-129523" data-toggle="tab">第二部分</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-940677">
						<p>
							第一部分内容.
						</p>
					</div>
					<div class="tab-pane" id="panel-129523">
						<p>
							第二部分内容.
						</p>
					</div>
				</div>
			</div>
</div>
