<div class="personal-content">
<div class="accordion" id="personal-center">
	
	<%= render  :partial=>'users/basic_info'%>
	<%= render  :partial=>'users/password_security_settings'%>
	<!-- google auth start-->
	<%= render_cell :user, :google_auth, user: current_user %>
	<!-- google auth end -->

	<!-- sms -->
	<%= render_cell :user, :sms, user: current_user %>
	<!-- sms end -->
	<!-- ips -->
	<%= render_cell :user, :ips, user: current_user %>
	<!-- ips -->
</div>
</div>