<div class="personal-content">
<div class="accordion" id="personal-center">

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#personal-center" href="#personal-information">
				<span><img src="<%=image_url("user/monster.png")%>" /></span> 基本资料

			</a>
		</div>
		<div id="personal-information" class="accordion-body in collapse">
			<div class="accordion-inner">
				<div class="personal-inner">
				<div class="personal-line">
					<img src="<%=image_url(current_user.avatar)%>" /> 
					<p><%=current_user.username%></p>
					<div class="ranking">这里有个等级模块，需要考虑一下实现</div>
				</div>
				<div class="personal-line">
					<font class="color-gray">281040844@qq.com</font></div>
				<div class="personal-line">
					<font style="line-height:40px; font-size:16px;">实名认证：</font>
					<input type="text" style="margin-top:8px;" />
					<button class="bitwin-btn">确定</button>
				</div>
				<div class="personal-line"><font class="color-orange">绑定实名后 人民币充值提现只限本人账户 此项绑定后不可修改</font></div>
				<div class="personal-line">
					<table class="table">
						<tr>
							<th></th>
							<th>可用余额</th>
							<th>交易锁定</th>
							<th>贷款抵押</th>
							<th>提现待处理</th>
							<th>总计</th>
						</tr>
						<tr>
							<th>BTC</th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>LTC</th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<th>CNY</th>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>

				</div>
			</div>
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#personal-center" href="#password-safe">
				<span>
				<img src="<%=image_url("user/key.png")%>" /></span>
				密码安全测试</a>
		</div>
		<div id="password-safe" class="accordion-body collapse">
			<div class="accordion-inner">
			
			<div class="personal-line">
				<div class="personal-password-safe-half">
					<font class="personal-tittle">
						登入密码修改：</font>
				</div>
				<div class="personal-password-safe-half">
					<label>旧密码：</label>
					<input type="password" class="input-middle" /></div>
				<div class="personal-password-safe-button"></div>
			</div>


			<div class="personal-line">
				<div class="personal-password-safe-half">
				<label>新的密码：</label>
					<input type="password" class="input-middle" />
				</div>
				<div class="personal-password-safe-half">
					<label>重新输入：</label>
					<input type="password" class="input-middle" /></div>
				<div class="personal-password-safe-button">
					<button class="bitwin-btn bitwin-btn-longth">确定</button>
				</div>
			</div>



			<div class="personal-line">
				<div class="personal-password-safe-half">
					<font class="personal-tittle">
						安全提示问题：<font class="color-orange">还没设置</font></font>
				</div>
				<div class="personal-password-safe-half">

				</div>
				<div class="personal-password-safe-button"></div>
			</div>

			<div class="personal-line">
				<div class="personal-password-safe-half">
				<select class="personal-area personal-selection-longth" id="area">
			 		<option>请选择你的问题：</option>
			 		<option>XXX</option>
			 		</select>
				</div>
				<div class="personal-password-safe-half">
					<label>重新输入：</label>
					<input type="password" class="input-middle" /></div>
				<div class="personal-password-safe-button">
					<button class="bitwin-btn bitwin-btn-longth">确定</button>
				</div>
			</div>


			<div class="personal-line">
				<div class="personal-password-safe-half">
					<font class="personal-tittle">
						交易密码：<font class="color-orange">还没设置</font></font>
				</div>
				<div class="personal-password-safe-half">

				</div>
				<div class="personal-password-safe-button"></div>
			</div>


			<div class="personal-line">
				<div class="personal-password-safe-half">
					<label>新的交易密码：</label>
					<input type="password" class="input-middle" /></div>
				<div class="personal-password-safe-half">
					<label>重新输入：</label>
					<input type="password" class="input-middle" />
				</div>
				<div class="personal-password-safe-button">
					<button class="bitwin-btn bitwin-btn-longth">确定</button>
				</div>
			</div>

			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#personal-center" href="#authentication">
				<span>
				<img src="<%=image_url("user/iphone.png")%>" /></span>
				Google身份验证</a>
		</div>
		<div id="authentication" class="accordion-body collapse">
			<div class="accordion-inner">
				<div class="personal-line">
					<div class="personal-center-google">
						您的认证密钥：JFDKAJFDSAJFLSKADJFSKAF
					</div>
				</div>

				<div style="height:140px;">
				<div class="personal-password-safe-half personal-mobile">
					<a href="#"><span>
					<img src="<%=image_url("user/apple.png")%>" />
					<p>Apple</p>
					</span></a>
					<a href="#"><span><img src="<%=image_url("user/android.png")%>" /><p>Android</p></span></a>
				</div>
				<div class="personal-password-safe-half">
					<img class="personal-weixinimg" src="<%=image_url("user/weixin.jpg")%>" />
				</div>
				<div class="personal-password-safe-button" style="padding-top:50px;">

					<label class="personal-tittle">已经开通</label>
					<button class="bitwin-btn">关闭</button>
				</div>
			</div>
			</div>
			</div>




		</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#personal-center" href="#celphone">
				<span>
				<img src="<%=image_url("user/sms.png")%>" /></span>
				手机短信验证（仅限中国大陆地区）</a>
		</div>
		<div id="celphone" class="accordion-body collapse">
			<div class="accordion-inner">
				<div class="personal-line">
					<div class="personal-center-phone">
					<select class="personal-area" id="area">
			 		<option>+86 中国</option>
			 		<option>XXX</option>
			 		</select>
			 		<input type="text" ></input>
			 		<button class="bitwin-btn" style="margin-top:-10px;">绑定手机</button>
			 			
			 	</div>
			 	<div class="personal-line">
			 		<input type="text" placeholder="输入验证信息" class="input-short pull-right" />
			 	</div>
			 	<div class="personal-line">
			 		<button class="bitwin-btn pull-right bitwin-btn-longth">开通</button>
			 	</div>
				</div>

			 	
			
			</div>
		</div>
	</div>

	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#personal-center" href="#IP-adress">
				<span>
				<img src="<%=image_url("user/ip.png")%>" /></span>
				IP地址登入历史查询</a>
		</div>
		<div id="IP-adress" class="accordion-body collapse">
			<div class="accordion-inner">
				<div class="personal-line">
				<table class="table">
						<tr>
							<th style="border-top:0px;">Date And Time</th>
							<th style="border-top:0px;">IP Adress</th>
							<th style="border-top:0px;">Action</th>
							<th style="border-top:0px;">地址</th>
						</tr>
						<tr>
							<td>2013-02-03  12:38</td>
							<td>192.168.1.1</td>
							<td>hah</td>
							<th>成都</th>
						</tr>
						<tr>
							<td>2013-02-03  12:38</td>
							<td>192.168.1.1</td>
							<td>hah</td>
							<th>成都</th>
						</tr>
					</table>
			</div>
			</div>
		</div>
	</div>

</div>
</div>