
<div class="personal-left">
	<div class="personal-nav">
	<ul class="personal-nav-ul" id="personal-nav">
		<li class="personal-nav-li personal-nav-li-active" id="nav1">
			<span>
				<img src="<%=image_url "user/personal-information.png"%>" />
			</span>
			<a>基本资料</a>
		</li>
		<li class="personal-nav-li" id="nav2">
			<span>
				<img src="<%=image_url "user/despoit.png"%>" />
			</span>
			<a>账户充值</a>
		</li>
		<li class="personal-nav-li" id="nav3">
			<span>
				<img src="<%=image_url "user/withdrawal.png"%>" />
			</span>
			<a>账户提现</a>
		</li>
		<li class="personal-nav-li" id="nav4">
			<span>
				<img src="<%=image_url "user/user-password.png"%>" />
			</span>
			<a>密码设置</a>
		</li>
		<li class="personal-nav-li" id="nav5">
			<span>
				<img src="<%=image_url "user/iphone.png"%>" />
			</span>
			<a>Google验证</a>
		</li>
		<li class="personal-nav-li" id="nav6">
			<span>
				<img src="<%=image_url "user/sms.png"%>" />
			</span>
			<a>短信验证</a>
		</li>
		<li class="personal-nav-li" id="nav7">
			<span>
				<img src="<%=image_url "user/ip.png"%>" />
			</span>
			<a>IP记录</a>
		</li>
	</ul>
	</div>
</div>

<div class="personal-right" id="personal-right">
	<%= render 'users/basic_info' %>
	<%= render 'users/recharge' %>
	<%= render 'users/withdraw' %>
	<%= render 'users/password_security_settings' %>
</div>


<script type="text/javascript">
$(document).ready(function(){
	$("#personal-nav li").click(function() {
		/* Act on the event */
		$("#personal-nav li").removeClass('personal-nav-li-active');
		$(this).addClass('personal-nav-li-active');
		var id = $(this).attr('id');
		$("div.personal-id").css('display','none');
		$("div#"+id).css('display','block');
	});
});
</script>
