
<div class="exchange-floor">
	<div class="tagpage">
		<ul class="nav nav-tabs nav-exchange-li" id="deals-higher">
			<li class="active" id="OrderBook" >
				<a href="#">Order Book</a>
			</li>
			<li id="QuotesFigure">
				<a href="#">行情图</a>
			</li>
			<li id="Depthgauge">
				<a href="#">深度表</a>
			</li>
		</ul>

		<select class="exchange-select pull-right" style="margin-top:-35px;">
			<option>BitcCoin</option>
			<option>Cny</option>
		</select>
	</div>
	<div class="tagcontent-wide" id="OrderBook" style="display:block;">
		<div class="exchange-table-base">
			<!-- 买单 -->
			<%= render_cell :trade, :purchase_trade %>
			<!-- 买单end -->
		</div>
		<div class="exchange-table-base exchange-padding">
			<!-- 卖单 -->
			<%= render_cell :trade, :sale_trade %>
			<!-- 卖单 end -->
		</div>
		<div class="exchange-table-base">
			<!-- 成交 -->
			<%= render_cell :trade, :newest_trade %>
			<!-- 成交end -->
		</div>
	</div>


	<div class="tagcontent-wide" id="QuotesFigure">
	行情图
	</div>

	<div class="tagcontent-wide" id="Depthgauge">
	深度表
	</div>

</div>




<div class="exchange-floor margin-top-short">
	<div class="left">
	<div class="left-content">
		<table class="exchange-table">
			<tr>
			<td rowspan="2"><img src="<%=image_url "exchange/lock.png"%>" class="pull-right"/></td>
			<td class="color-gray"><%=current_user.btc_account.try :blocked%> BTC</td>
			<td rowspan="2"><img src="<%=image_url "exchange/unlock.png"%>" class="pull-right"/></td>
			<th><%=current_user.btc_account.try :amount%> BTC</th>
			</tr>
			<tr>
			<td class="color-gray"><%=current_user.cny_account.try :blocked%> CNY</td>
			<th><%=current_user.cny_account.try :amount%> CNY</th>
			</tr>
		</table>
		<%= render_cell :trade, :new_trade %>
	</div>
	</div>



	<div class="right">
			<div class="tagpage">
			<ul class="nav nav-tabs nav-exchange-li" id="deals-lower">
				<li class="active" id="EntrustedManagement">
					<a href="#">委托管理</a>
				</li>
				<li id="TransactionRecords">
					<a href="#">交易记录</a>
				</li>
				<li id="Recharge">
					<a href="#">充值</a>
				</li>
				<li id="Withdraw">
					<a href="#">提现</a>
				</li>
				<li id="RechargeRecord">
					<a href="#">充值记录</a>
				</li>
			</ul>
		</div>

			<div class="tagcontent" id="EntrustedManagement" style="display:block;">
				<!-- 委托 -->
				<%= render_cell :user, :trade_order, user: current_user %>
				<!-- 委托 end -->

			</div>

			<div class="tagcontent" id="TransactionRecords">
			交易记录
			</div>
			<div class="tagcontent" id="Recharge">
			充值
			</div>
			<div class="tagcontent" id="Withdraw">
			提现
			</div>
			<div class="tagcontent" id="RechargeRecord">
			充值记录
			</div>


		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#deals-higher li").click(function() {
		/* Act on the event */
		$("#deals-higher li").removeClass('active');
		$(this).addClass('active');
		var id = $(this).attr('id');
		$("div.tagcontent-wide").css('display','none');
		$("div#"+id).css('display','block');
	});
});

$(document).ready(function(){
	$("#deals-lower li").click(function() {
		/* Act on the event */
		$("#deals-lower li").removeClass('active');
		$(this).addClass('active');
		var id = $(this).attr('id');
		$("div.tagcontent").css('display','none');
		$("div#"+id).css('display','block');
	});
});
</script>
