
<div class="exchange-floor">
	<div class="tagpage">
		<ul class="nav nav-tabs nav-exchange-li">
			<li class="active">
				<a href="#">Order</a>
			</li>
			<li>
				<a href="#">行情图</a>
			</li>
			<li>
				<a href="#">深度表</a>
			</li>
		</ul>

		<select class="exchange-select pull-right" style="margin-top:-35px;">
			<option>BitcCoin</option>
			<option>Cny</option>
		</select>
	</div>
	<div class="tagcontent-wide">
		<div class="exchange-table-base">
			<!-- 买单 -->
			<%= render_cell :trade, :purchase_trade %>
			<!-- 买单end -->
		</div>
		<div class="exchange-table-base exchange-padding">
			<!-- 卖单 -->
			<%= render_cell :trade, :sale_trade %>
			<!-- 卖单 end -->
		</div>
		<div class="exchange-table-base">
			<!-- 成交 -->
			<%= render_cell :trade, :newest_trade %>
			<!-- 成交end -->
		</div>
	</div>
</div>




<div class="exchange-floor margin-top-short">
	<div class="left">
	<div class="left-content">
		<table class="exchange-table">
			<tr>
			<td rowspan="2"><img src="<%=image_url "exchange/lock.png"%>" class="pull-right"/></td>
			<td class="color-gray"><%=current_user.btc_account.try :blocked%> BTC</td>
			<td rowspan="2"><img src="<%=image_url "exchange/unlock.png"%>" class="pull-right"/></td>
			<th><%=current_user.btc_account.try :amount%> BTC</th>
			</tr>
			<tr>
			<td class="color-gray"><%=current_user.cny_account.try :blocked%> CNY</td>
			<th><%=current_user.cny_account.try :amount%> CNY</th>
			</tr>
		</table>
		<%= render_cell :trade, :new_trade %>
	</div>
	</div>



	<div class="right">
			<div class="tagpage">
			<ul class="nav nav-tabs nav-exchange-li">
				<li class="active">
					<a href="#">委托管理</a>
				</li>
				<li>
					<a href="#">交易记录</a>
				</li>
				<li>
					<a href="#">充值</a>
				</li>
				<li>
					<a href="#">提现</a>
				</li>
				<li>
					<a href="#">充值记录</a>
				</li>
			</ul>
		</div>
			<div class="tagcontent">
				<!-- 委托 -->
				<%= render_cell :user, :trade_order, user: current_user %>
				<!-- 委托 end -->
			</div>
		</div>
	</div>
</div>
