<div class="devise-content">
	<div class="devise-welcome">
		 <span class='message'><%= flash[:error] || "请重设您的密码"%></div>


<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
		<div class="logup-input margin-top-50">
			<%= f.password_field :password, :autofocus => true , :class => 'devise-input devise-lock', :placeholder=>"您的密码"%>
		</div>
		<div class="logup-input ">
			<%= f.password_field :password_confirmation,  :placeholder => "请再输一次", :class => "devise-input devise-lock"%>
		</div>

		<div class="logup-input">
			<button class="devise-button">下一步<img src="<%=image_url("icon/loginbutton.png")%>" /></button>
		</div>
<% end %>
