<%= form_for TradeOrder.new, url: trade_orders_path, method: :post do |f| %>
	<%= f.hidden_field :coin_account_id%>
	<div class="left-line">
		<label class="radio float-left">
			<input type="radio" name="trade_order[delegate_type]" id="optionsRadios1" value="limit_order" checked>
		定价委托
		</label>
		<label class="radio float-left margin-left-10">
			<input type="radio" name="trade_order[delegate_type]" value="market_order" id="optionsRadios1">
			市价委托
		</label>
		<label class="checkbox float-left margin-left-10">
			<%= f.check_box :dark_pool %> 暗池交易
			</label>
	</div>

	<div class="left-line">
		<select id="select" name="trade_order[category]" style="margin-right:10px;">
	 		<option value='purchase'>买入</option>
	 		<option value='sale'>卖出</option>
	 	</select>
	 	<input class="input-price-btc" name="trade_order[amount]" value="0" />
	</div>

	<div class="left-line text-right">
	<img src="<%=image_url "exchange/del.png"%>" width="10" height="10" />
	<font>单价</font>
	 <input class="input-price-cny" name="trade_order[ppc]" style="margin-right:10px;" value='0'/>
	</div>

	<div class="left-line">
	 	<span class="span-result shadow-radius background-gray-deep float-left">
	 	<img src="<%=image_url "exchange/calculator-white.png"%>" class="float-left" style="margin-left:3px;margin-top:2px;" />
	 		<p>￥0</p></span>
	 	<button class="submit-button float-left">OK</button>
	</div>
<%end%>